$r: '.popup';

#{$r} {
  &::before {
    @include position($pos: fixed, $trbl: 0);
    content: '';
    display: block;
    background-color: transparentize($color: #000, $amount: 0.6);
    transition: opacity $animation-time-secondary ease;
    opacity: 0;
    visibility: hidden;

    @include media-only-phone {
      display: none;
    }
  }

  &_open::before {
    opacity: 1;
    visibility: visible;
    z-index: $z-index-modal-items - 1;
  }

  &_mode_error {
    &#{$r}_open {
      z-index: 6000;
    }
    
    #{$r}__content {
      @include flex($dir: column, $align: flex-start, $wrap: nowrap);
      width: 26rem;
      max-width: 100vw;
    }

    .button {
      margin-top: 1.5rem;
    }
  }

  &__content {
    @include position($pos: fixed, $trbl: 0, $l: auto, $z: $z-index-modal-items);
    @include flex($dir: column, $align: initial, $wrap: nowrap);
    @include size($wh: 100%, $maxW: 480px);
    background: $color_ui-background;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform $animation-time-secondary;
    cursor: default;

    #{$r}_open & {
      transform: translateX(0%);
    
      @include media-tablet {
        max-width: 30rem;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    #{$r}_position_center & {
      @include position($pos: fixed, $t: 50%, $l: 50%, $b: auto);
      transform: translate(-50%, -50%);
      height: auto;
      transition: none;
      visibility: hidden;
      overflow: visible;
      padding: 48px 20px 20px;

      @include media-tablet {
        max-width: 400px;
        padding: 48px 32px 32px;
      }
    }
    #{$r}_position_center#{$r}_open & {
      visibility: visible;
    }

    #{$r}_position_right & {
      padding: 48px 40px;

      @media (max-width: $mqw-tablet) {
        ContainerContent-gap: unset;
        padding: 0;
      }
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    #{$r}_position_right & {
      flex: 0 1 auto;
      ContainerContent-gap: unset;

      @media (max-width: $mqw-tablet) {
        justify-content: center;
        align-items: center;
        padding: 14px 48px;
        border-bottom: 1px solid #EBEBEB;
      }
    }
  }

  &__icon {
    // @include icon($width: 4.875rem, $height: 4.75rem, $color: $color_interactive);
    display: inline-block;
    align-self: flex-start;
    margin-bottom: 24px;

    &[data-icon='trash_ask'] {
      background-color: $color_danger;
      mask-size: 80%;
    }

    #{$r}_mode_error & {
      // @include icon-color($color_danger);
    }

    #{$r}_mode_success & {
      // @include icon-color($color_success);
    }
  }

  &__title {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    font-family: 'IBM Plex Sans';
    color: #222;

    #{$r}_position_right & {
      @media (max-width: $mqw-tablet) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &__description {
    font-family: 'IBM Plex Sans';
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #222;
    margin-top: 8px;
  }

  &__control {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
  }

  &__control-item {
    margin-right: 1rem;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__button-go-back {
    display: block;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;

    &-inner {
      @include flex($wrap: nowrap);
      font-size: 14px;
      line-height: 20px;
      color: $color_interactive;
    }

    &-icon {
      // @include icon($icon: 'arrow-left', $color: $color_interactive);
      display: inline-block;
      margin-right: 0.25rem;
    }
  }

  &__button-close {
    @include position($pos: absolute, $r: 16px, $t: 16px);
    // @include icon($icon: 'close', $color: #d9d9d9, $width: 0.875rem, $height: 0.875rem);
    border: 0;
    outline: 0;
    cursor: pointer;

    &:hover {
      background-color: #222;
    }

    #{$r}_position_right & {
      right: 25px;
      top: 25px;

      @media (max-width: $mqw-tablet) {
        right: 17px;
        top: 17px;  
      }
    }
  }

  &__body {
    @include flex($dir: column, $justify: space-between);
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  &__field {
    flex: 0 1 auto;
    margin: 0;
  }
}
