:root {
  --color_ui-background: #FFF;
  --color_ui-01: #F5F5F5;
  --color_ui-01-interactive: #EBF2FF;  
  --color_ui-02: #CCDEFF;
  --color_ui-03: #C4C4C4;
  --color_ui-04: #EBEBEB;
  --color_text-01: #222;
  --color_text-02: #6B6B6B;
  --color_text-contrast: #FFF;
  --color_text-danger: #DD3431;
  --color_interactive: #005AFF;
  --color_interactive_hover: #1A6AFF;
  --color_interactive_pressed: #0053EB;
  --color_danger: #FC5759;
  --color_danger_hover: #FC6E6F;
  --color_danger_pressed: #DF3F3C;
  --color_notify: #FFBE4A;
  --color_notify_hover: #FEC454;
  --color_notify_pressed: #FEB054;
  --color_success: #5EC469;
  --color_success_hover: #71CB7B;
  --color_success_pressed: #56B461;
  --color_overlay: #00000066;
  --color_brand-vk: #4D75A2;
  --color_brand-facebook: #0561AF;
  --color_brand-twitter: #00BFF3;
  --color_brand-ok: #EE8208;
  --color_brand-telegram: #0088CC;
}
