&[class*='_variant_40-'] &__icon-add {
  margin: 0 10px 0 -4px;
}

&[class*='_variant_40-'] &__icon-move {
  margin: 0 8px 0 -8px;
  cursor: grab;
}

&[class*='_variant_40-'] &__icon-selected {
  margin: 0 -8px 0 8px;
}