.list {
  list-style: none;
}

.card-wrapper {
  max-width: 720px;
  width: 100%;

  & + & {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid transparentize($color: #000000, $amount: 0.8);
  }
}
